.recipes__container {
	max-width: 1200px;
	margin: 25px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.recipes__container a {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 40px 20px;
}

.recipes__container a:hover {
    border-radius: 5px;
    border: 2px solid #111;
    transition: all 0.10s linear
}

.recipe__container {
    height: 700px;
    max-width: 555px;
    text-align: center;
    flex: 1 1 auto;
    overflow: hidden;
}

.recipe__container h2 {
    margin: 20px;
    font-size: 34px;
    word-break: break-word;
}

.recipe__summary {
    margin: 0 20px;
    font-size: 22px;
}
