.recipes__container {
	width: 1200px;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.recipe__container {
	margin: 10px;
	height: 330px;
	width: 340px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.recipe__title {
	padding-top: 5px;
	text-align: center;
	height: 100px;
	font-weight: 700;
	font-size: 22px;
}

.recipe__container img {
	border: 2px solid;
	border-radius: 3px;
}

.recipes__container a {
	border: 2px solid transparent;
	border-radius: 3px;
}

.recipes__container a:hover {
	border: 2px solid #010101;
	border-radius: 3px;
}
